# PlanAhead Generated physical constraints 
NET "BLANK" LOC = B16;
NET "BLUE0" LOC = A18;
NET "BLUE1" LOC = B18;
NET "BLUE2" LOC = L17;
NET "BLUE3" LOC = M18;
NET "BLUE4" LOC = C18;
NET "BLUE5" LOC = K18;
NET "BLUE6" LOC = C19;
NET "BLUE7" LOC = C20;
NET "FPGA_CLK" LOC = M21;
NET "FPGA_RESET" LOC = W19;
NET "GREEN0" LOC = A9;
NET "GREEN1" LOC = A11;
NET "GREEN2" LOC = B12;
NET "GREEN3" LOC = A12;
NET "GREEN4" LOC = N17;
NET "GREEN5" LOC = A13;
NET "GREEN6" LOC = N18;
NET "GREEN7" LOC = A16;
NET "RED0" LOC = B4;
NET "RED1" LOC = A4;
NET "RED2" LOC = A5;
NET "RED3" LOC = B6;
NET "RED4" LOC = A6;
NET "RED5" LOC = A7;
NET "RED7" LOC = A8;
NET "VGA_VSYNC" LOC = A22;
NET "VGA_HSYNC" LOC = B22;
NET "SYNC" LOC = A17;
NET "RED6" LOC = B8;
NET "PSAVE" LOC = A2;
NET "PIX_CLOCK" LOC = C14;
PIN "vga_i/res_4.dcm108_i/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET "iHcmd" LOC = AA24;
NET "iVcmd" LOC = AA23;
NET "iHcmd1" LOC = AC24;
NET "iVcmd1" LOC = AC23;
NET "crash"  LOC = N24;